@media (min-width: 100px) {
  .categorias {
    flex-direction: row;
    justify-content: center;
  }

  li {
    text-decoration-line: none;
    list-style: none;
    color: white;
    padding: 40px;
  }
}

@media (min-width: 900px) {
}
